html,body,address,blockquote,div,dl,form,h1,h2,h3,h4,h5,h6,ol,p,pre,table,ul,dd,dt,li,tbody,td,tfoot,th,thead,tr,button,del,ins,map,object,a,abbr,acronym,b,bdo,big,br,cite,code,dfn,em,i,img,kbd,q,samp,small,span,strong,sub,sup,tt,var,legend,fieldset{margin:0;padding:0;outline:none}
img{border:none;max-width:100%;vertical-align:top}
header,nav,section,article,figure,aside,footer,embed,hgroup,video{display:block}
a{transition:all .2s ease-in-out;text-decoration:none;color:#3DBDB6}
a:hover{text-decoration:none}
a:focus{outline:inherit;text-decoration:none}
li{list-style:none}
.owl-carousel .owl-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.owl-carousel{display:none;position:relative;width:100%;-ms-touch-action:pan-y}
.owl-carousel .owl-wrapper{display:none;position:relative;-webkit-transform:translate3d(0px,0px,0px)}
.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%}
.section .owl-carousel .owl-wrapper-outer{margin:0 -10px}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}
.owl-carousel .owl-item{float:left}
.owl-controls .owl-page,.owl-controls .owl-buttons div{cursor:pointer}
.owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.grabbing{cursor:url(grabbing.png) 8 8,move}
.owl-carousel .owl-wrapper,.owl-carousel .owl-item{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}
#owl-demo .item,#owl-demo1 .item{color:#FFF;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-align:center}
.owl-theme .owl-controls{margin-top:10px;text-align:center}
.owl-theme .owl-controls .owl-buttons div{color:#FFF;display:inline-block;zoom:1;*display:inline;margin:5px;padding:3px 10px;font-size:12px;background:#869791}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter:Alpha(Opacity=100);opacity:1;text-decoration:none}
.owl-theme .owl-controls .owl-page{display:inline-block;zoom:1;*display:inline}
.owl-theme .owl-controls .owl-page span{display:block;width:12px;height:12px;margin:5px 7px;filter:Alpha(Opacity=50);opacity:.5;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background:#869791}
.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{filter:Alpha(Opacity=100);opacity:1;background:#db0008}
.owl-theme .owl-controls .owl-page span.owl-numbers{height:auto;width:auto;color:#FFF;padding:2px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px}
.owl-item.loading{min-height:150px;background:url(AjaxLoader.gif) no-repeat center center}
body
{
    font-family: 'Raleway', sans-serif;    color: #9b9c9c;
}
@media only screen and (min-width:1501px)
{
    .container
    {
        width: 1470px;
    }
}
header
{
    position: fixed;
    top: 0;
    z-index: 10;
      background-color: rgba(0, 0, 0, 0.48);
    width: 100%;
}
.logo
{
    padding: 10px 0;
}
.gigw-tool {
        margin: 37px 15px 0;
    margin-left: 59px;
}
.gigw-tool ul li
{
    padding: 0 3px;
       vertical-align: top;
    display: inline-block;
}
.gigw-tool ul li a
{
       color: #fff;
    padding: 0;
    display: inline-block;
    border: solid 1px #fff;
    padding: 1px 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}
.gigw-tool .color-selector-wrapper {
     display: inline-block;
    margin-left: 0px;
    overflow: hidden;
}
.gigw-tool .color-selector-wrapper a {
    background-color: #a0140c;
    padding: 10px;
    display: inline-block;
    width: 23px;
    height: 23px;
}
.gigw-tool .color-selector-wrapper a:nth-child(2n)
{
        background-color: #222222;
}
.gigw-tool .color-selector-wrapper a:nth-child(3)
{
        background-color: #13a2e4;
}
.search-box ul li
{
        position: relative;
}
input[type=search] {
    -webkit-appearance: none;
}
.search-box ul li input
{
    padding: 0;
    position: absolute;
    overflow: hidden;
        right: 33px;
    top: -10px;
    border: 0;
    width: 0;
    height: 28px;
    z-index: 2;
}
.search-box ul li input[type="search"]
{
    height: 44px;
    padding: 0px;
    border-radius: 4px;
}
.search-box ul li input.expanded
{
    padding:3px 6px;
}
.search-box ul li .search-icon
{
        display: inline-block;
    width: 30px;
    height: 28px;
    border-radius: 3px;
    padding: 2px 4px;
}

#hidden-aside-menu {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background: #262626;
  width: 350px;
  height: 100%;
  z-index: 99999;
  text-align: center;
  -webkit-transform: translate3d(350px,0,0);
    transform: translate3d(350px,0,0);
  -webkit-transition: all .6s ease-in-out;
     -moz-transition: all .6s ease-in-out;
      -ms-transition: all .6s ease-in-out;
       -o-transition: all .6s ease-in-out;
          transition: all .6s ease-in-out;
}
#hidden-aside-menu.show-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.close-aside-menu {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: #262626;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  z-index: 9999;
  opacity: 0;    border: 0;
}
#hidden-aside-menu.show-menu .close-aside-menu {
  opacity: 1;
}
#hidden-aside-menu .logo {
  margin: 90px 0 120px 0;
}
.aside-menu-wrapper {
  height: 100%;
}
.aside-menu-wrapper .main-nav-wrapper>li {
  position: relative;
  text-align: left;
}
.aside-menu-wrapper .main-nav-wrapper li a {
  position: relative;
  display: block;
  font-weight: normal;
  color:#919191;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 46px;
  padding: 0;
  padding: 0 45px;
}
.aside-menu-wrapper .main-nav-wrapper li a:hover{
    color: #9b3c15;
}
.aside-menu-wrapper .main-nav-wrapper li a span.fa {
  margin-right: 20px;
}
.aside-menu-wrapper .main-nav-wrapper>li .expander {
  position: absolute;
  top:0;
  right: 45px;
  font-size: 11px;
  background: transparent;border: 0;
}
.aside-menu-wrapper ul .dropdown-holder .sub-menu {
  display: none;
}
.aside-menu-wrapper ul .dropdown-holder .sub-menu li a {
  background: #2c2c2c;
  font-size: 14px;
  padding-left: 82px;
}
.mCSB_inside>.mCSB_container {margin-right: 0;}

.cmimg {
    position: absolute;
    bottom: 4px;
    left: 115px;
    z-index: 9;
    max-width: 400px;
    width: 100%;
}
.cmimg img {
    float: left;
    max-width: 100%;
}
.home-slider
{
    position: relative;
}
.home-slider .owl-controls
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.slider-bg
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: url(../images/banner-bg1.png) no-repeat;
        background-size: auto 100%;
}
.search-box
{
    float: right;
    margin-top: 37px;
}
.main-menu
{
    float:right;
     margin-top: 41px;
    margin-left: 10px;
}
.top-section
{
    margin-top: 35px;
}
h1.main-hdg
{
    color: #373737;
    font: bold 40px/56px 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: 35px 0;
}

.top-section p
{
    color: #373737;
     font: normal 20px/35px 'Raleway', sans-serif;
    padding-top: 20px;
}
.service-col
{
    float: left;
    width: 345px;
    min-height: 364px;
    margin:60px 20px 0 0;
}
.four-column-block
    {
        display: flex;
    }
.service-col-last
{
    margin-right: 0;
}
.box-topbg
{
    background:url(../images/bx-topbg.png) no-repeat;
        padding-top: 121px;
    height: 100%;
}
.box-rep-bg
{
    background:url(../images/bx-md-bg.png);
    background-repeat:repeat-y;  
    height: 100%;
}
.box-btmbg figure img
{
    margin-top: -100px;
}
.box-btmbg
{
    background:url(../images/bx-btmbg.png) no-repeat bottom;
        padding-bottom: 121px;
    height: 100%;
    
}
.box-btmbg h2
{
    margin-top: -22px;
    color: #373737;
    font: bold 24px/35px 'Raleway', sans-serif;
    text-transform: uppercase;
    min-height: 110px;
    padding: 0 17px;
}
.box-btmbg p
{
    color: #373737;
    font: normal 16px/35px 'Raleway', sans-serif;
        margin-bottom: -100px;
    padding: 7px 15px 20px 15px;
}
.aboutus-txt
{
    background: #fefeef;
    margin-top: 65px;
    padding: 35px 0;
}
.about-lft
{
    float: left;
    width: 42%;
}
.about-lft
{
    text-align: left;
}
.about-lft figure
{
    position: relative; width: 593px;
    height: 279px;
}
.about-lft figure img
{
   height: 279px; 
}
.about-lft figure:after
{
    position: absolute;
    left: 0;
    top: 0;
    width: 597px;
    height: 279px;
    content: '';background: url(../images/aboutimg-bg.png) no-repeat;
}
.about-rft
{
    float: right;
    width: 54%;
}
.about-rft p
{
    color: #373737;
     font: 500 24px/36px 'Raleway', sans-serif;
    text-align: left;
}
.about-rft ul
{
    margin-top: 30px;
}
.about-rft ul li
{
    position: relative;
    color: #373737;
    font: 500 18px/38px 'Raleway', sans-serif;    padding-left: 33px;
    text-align: left;
}
.about-rft ul li:before
{
    position: absolute;
    left: 0;
    top: 6px;
    content: '';
    width: 23px;
    height: 23px;
    background: url(../images/list-style.png) no-repeat;
}
.know-more a
{
    width: 268px;
    height: 48px;
    background: url(../images/know-more-bg.png) no-repeat top;
    color: #373737;
    font: 700 18px/48px 'Raleway', sans-serif; 
    text-transform: uppercase;
    display: inline-block;
    margin-top: 30px;
}
.know-more a:hover{
    color: #c91f65;
}
.upcoming-event
{
    margin: 100px 0 80px 0;
    background: #fff;
}
.event-box
{
       width: 33.3%;
    padding: 0 80px;
    float: left;
    margin-bottom: -100px;
    border-right: solid 4px #fefe2a;
    margin-top: -108px;
    min-height: 400px;
}
.event-box-last
{
    border: 0;
}
.event-three-col
{
    background: url(../images/event-topbg.png) no-repeat;
    padding-top: 151px;
}
.event-rep-bg
{
 background: url(../images/event-repeat.png) repeat-y;   
    display: flex;
}
.event-btm-bg
{
    background: url(../images/event-btm-bg.png) no-repeat bottom; 
    padding-bottom: 144px;
}
.event-box h2
{
    position: relative;
    color: #ffffff;
  font: 700 18px/25px 'Raleway', sans-serif;   
    background: #26c7b8;
    padding: 4px 10px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}
.event-box h2:after
{
    position: absolute;
    left: 50%;
    top: -15px;
    content: '';
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #26c7b8;
    transform: translate(-50%);
}
.event-box p
{
    color: #393939;
    font: 500 15px/25px 'Raleway', sans-serif;  
    padding:20px 0 30px 0;
}

footer {
  background: #262626;
  padding-top: 40px;
}
footer .row [class*="col-"] {
  margin-top: 50px;
}
footer .footer-logo h6 {
  font-size: 16px;
  line-height: 30px;
  color: #838383;
  margin-top: 8px;
}
footer .row [class*="col-"] ul {
  padding-left: 28px;
}
footer .row [class*="col-"] ul li a {
  color:#919191;
  margin-bottom: 10px;
  font-size: 16px;    display: inline-block;
}
footer .row [class*="col-"] ul li a:hover {
  color: #fff;
}
footer .subscribe-form {
  padding-left: 55px;
  position: relative;
}
footer .subscribe-form h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  color:#fff;
  margin-bottom: 30px;
}
footer .subscribe-form input  {
  font-family: 'Hind', sans-serif;
  height: 50px;
  width: 100%;
  background: #fff;
  border:none;
  padding: 0 142px 0 15px;
}
footer .subscribe-form button {
  width: 130px;
  height: 50px;
  font-size: 15px;
  font-weight: 700;
  color:#fff;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  right: 0;
  border-left:10px solid #262626;
}
footer .bottom-footer {
  margin-top: 65px;
  border-top:1px solid #2f2f2f;
  padding: 24px 0;
}
footer .bottom-footer p,
footer .bottom-footer p a {
  font-family: 'Open Sans', sans-serif;
  color:#d6d6d6;
  font-size:15px; 
}
footer .bottom-footer ul li {
  display: inline-block;
}
footer .bottom-footer ul li a {
  width: 36px;
  line-height: 36px;
  text-align:center;
  background: #4b4b4c;
  margin-right: 3px;
  position: relative;
  color:#202020;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 9; border-radius: 50%;
    display: inline-block;
}
footer .bottom-footer ul li a:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  border-radius: 50%;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
  background: -moz-linear-gradient( 4deg, rgb(162,30,231) 0%, rgb(39,115,239) 100%);
  background: -webkit-linear-gradient( 4deg, rgb(162,30,231) 0%, rgb(39,115,239) 100%);
  background: -ms-linear-gradient( 4deg, rgb(162,30,231) 0%, rgb(39,115,239) 100%);
}
footer .bottom-footer ul li a:hover {
  color: #fff;
}
footer .bottom-footer ul li a:hover:before {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
footer .container
{
    width: 1310px;
}
.address-cnt p
{
    line-height: 30px;
}
#back-top a {
    text-decoration: none;
    width: 38px;
    height: 38px;
    display: block;
    background-color: #fe7929;
    background-image: url(../images/back-top.png);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
}
#back-top {
    position: fixed;
    bottom: 45px;
    right: 25px;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width:1500px)
{
    .container,footer .container
    {
        width: 100%;
        max-width: 1200px;
    }
    .service-col
    {
        width: 276px;
    }
    .box-topbg,.box-rep-bg,.box-btmbg,.event-three-col,.event-rep-bg,.event-btm-bg
    {
        background-size:100%;
    }
    .box-topbg
    {
        padding-top: 90px;
    }
    .box-btmbg figure img {
    margin-top: -68px;
}
    .box-btmbg h2
    {
        min-height: 145px;
    }
    
    .about-rft p
    {
        font: 500 21px/34px 'Raleway', sans-serif;
    }
    .about-rft ul {
    margin-top: 15px;
}
    .about-rft ul li
    {
        font: 500 17px/31px 'Raleway', sans-serif;
    }
    .event-three-col
    {
        padding-top: 118px;
    }
    .event-btm-bg
    {
        padding-bottom: 105px;
    }
    .event-box
    {
        margin-bottom: -49px;margin-top: -71px;
    }
    .gigw-tool
    {
        margin: 37px 0 0 28px;
    }
}

@media only screen and (max-width:1100px)
{
    .event-three-col {
    padding-top: 94px;
}
    .event-btm-bg {
    padding-bottom: 83px;
}
    .event-box
    {
        padding: 0 22px;
    }
    .service-col {
    width: 320px;
        margin: 0 auto;
        float: none;
        margin-top: 35px;
}
    .four-column-block
    {
        display: block;
    }
    .box-btmbg h2
    {
        min-height: inherit;margin-top: 8px;
margin-bottom: 10px;
    }
    .box-btmbg p
    {
        padding: 0 18px 15px 18px;
    }
    .box-topbg {
    padding-top: 90px;
    background-size: 98.5%;
    background-position: center top;
}
    .cmimg
    {
        max-width: 200px;bottom: 0px;
left: 30px;
    }
}

@media only screen and (max-width:1023px)
{
    header .col-lg-5.col-md-5,.search-box
    {
        display: none;
    }
    .cmimg
    {
        max-width: 200px;bottom: 5px;
left: 30px;
    }
    h1.main-hdg
    {
            font: bold 28px/42px 'Raleway', sans-serif;    margin: 15px 0;
    }
    .top-section p
    {
        padding-top: 0;
    }
}
@media only screen and (max-width:767px)
{
    .about-lft
    {
        width: 100%;
        text-align: center;
    }
    .about-rft
    {
        width: 100%;
        margin-top: 30px;
    }
    .event-rep-bg
    {
        display: block;
    }
    .event-box
    {
        width: 100%;
        border: 0;
        margin-bottom: 35px;
margin-top: 7px;padding-bottom: 20px;
        min-height: inherit;
            border-bottom: solid 1px rgba(204, 204, 204, 0.24);
    }
    .event-three-col {
    padding-top: 23px;
}
    .event-btm-bg {
    padding-bottom: 23px;
}
    footer .row [class*="col-"] {
    margin-top: 22px;
        text-align: center;
}
    footer .row [class*="col-"] ul {
    padding-left: 0;
        float: left;
        width: 100%;
}
    footer .row [class*="col-"] ul li
    {
        display: inline-block;
        margin-right: 10px;
    }
    footer
    {
        padding-top: 15px;
    }
    footer .bottom-footer {
    margin-top: 40px;
    }
    .logo img
    {
        width: 220px;
    }
    .main-menu
    {
        margin-top: 30px;
    }
    .cmimg
    {
        max-width: 100px;bottom: 0px;
left: 30px;
    }
    h1.main-hdg {
    font: bold 20px/31px 'Raleway', sans-serif;
    }
    .top-section p
    {
            font: normal 18px/29px 'Raleway', sans-serif;
    }
    header
    {
        position: static;
    }
    .event-box-last
    {
        margin-bottom: 0px;
        border: 0;
        padding-bottom: 10px;
    }
    .upcoming-event {
    margin: 50px 0 50px 0;
    }
    .aboutus-txt
    {
        margin-top: 50px;
    }
    .about-rft p {
    font: 500 18px/31px 'Raleway', sans-serif;
}
}


/* Inner page css */
.page-title
{
    padding-top: 100px;
}
.page-title h1
{
  color: #373737;
    font: bold 40px/56px 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: 35px 0;  
}
.breadcrumb
{
    margin-bottom: 0;
        padding: 8px 0px;
}
.breadcrumb li {
    display: inline;
    font-size: 18px;
}
.breadcrumb ul li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.breadcrumb ul li a {
    color: #0275d8;
    text-decoration: none;
}

.breadcrumb ul li a:hover {
    color: #01447e;
    text-decoration: underline;
}
.inner-content
{
    background: #fff;
    padding: 30px 0;
}

.inner-content p {
    color: #393939;
    font: 500 16px/27px 'Raleway', sans-serif;
    padding: 10px 0 10px 0;
}
.hide-content
{
    overflow: hidden;
    width: 100%;
    margin-top: 0;
    border: 0;
    background-color: #00373e;
    color: white;    padding: 20px;
}
.hide-content h3
{
    margin-top: 0;
}
.hide-content p
{
    color: #fff;
}
.logo a img
{
    float: left;
}
.logo a small {
    float: left;
    margin: 13px 0 0;
    padding: 0 10px;
    font: 700 14px/23px 'Raleway', sans-serif;
    color: #fff;
}
.logo a small span
{
    display: block;
}
.logo a:hover small
{
    color: #26c7b8;
}


/*   */
.about-lft figure
{
    position: relative; width: 593px;
    height: 279px;
}
.about-lft figure img
{
   height: 279px; 
    width: 100%;
}
.about-lft figure:after
{
    position: absolute;
    left: 0;
    top: 0;
    width: 597px;
    height: 279px;
    content: '';background: url(../images/aboutimg-bg.png) no-repeat;
}
.top-section .owl-pagination
{
    display: none;
}
.top-section .owl-theme .owl-controls .owl-buttons .owl-prev
{
    position: absolute; 
    left: -40px;
    top: 47%;
    background: url(../images/prev-btn.png) no-repeat;
    width: 40px;
    height: 40px;
    text-indent: -500px;
}
.top-section .owl-theme .owl-controls .owl-buttons .owl-next
{
    position: absolute;
    right: -40px;
    top: 47%;
    background: url(../images/next-btn.png) no-repeat;
    width: 40px;
    height: 40px;
    text-indent: -500px;
}
.top-section .service-col
{
    margin: 0 auto;
    margin-top: 60px;
    float: none;
}
.event-box li
{
        width: 100%;
    border-bottom: dashed 1px #e5e3e3;
    padding: 5px 0;
}
.event-box li a
{
   font: 600 15px/23px 'Raleway', sans-serif;
        color: #393939; 
}
.event-box li a:hover{
    color: #26c7b8;
}
.event-box ul
{
    margin-top: 15px;
}
.state-news
{
        background: #fefeef;
    margin: 65px 0;
    padding: 35px 0;
}
.state-news .txt-hdg
{
    color: #373737;
    font: bold 35px/50px 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: 5px 0;
}
.state-news .newsbox-cont 
{
    margin: 0 auto;
    width: 1200px;
}
.state-news .news-title a
{
    font: 600 18px/25px 'Raleway', sans-serif;
    color: #26c7b8;
}
.news-des
{
       font: 400 16px/25px arial;
    color: #393939;
    text-align: justify;
}
.state-news .news-date
{
  font: 400 14px/25px arial;
    color: #393939;  
}
.newsbox
{
    margin-top: 10px;
    display: inline-block;
    margin-right:25px;
}

.state-news .owl-pagination
{
    display: none;
}
.state-news .owl-theme .owl-controls .owl-buttons .owl-prev
{
    position: absolute; 
    left: -60px;
    top: 47%;
    background: url(../images/prev-btn.png) no-repeat 100% 100%;
    width: 30px;
    height: 30px;
    text-indent: -500px;
    background-size: 100% 100%;
}
.state-news .owl-theme .owl-controls .owl-buttons .owl-next
{
    position: absolute;
    right: -60px;
    top: 47%;
    background: url(../images/next-btn.png) no-repeat 100% 100%;background-size: 100% 100%;
    width: 30px;
    height: 30px;
    text-indent: -500px;
}
.topsection-scroll,.about-scroll,.upcoming-scroll,.four-column-scroll,.statenews-scroll {
    position: absolute;
    right: 5px;   
  top: 500px;
    text-align: center;
    z-index: 99999;
 
}
.top-section,.aboutus-txt,.upcoming-event
{
    position: relative;
}
.event-box
{
    position: relative;
    padding-bottom: 60px;
}
.view-all
{
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.view-all a
{
color: #ffffff;
    font: 400 15px/25px arial;
    background: #26c7b8;
    padding: 7px 20px;
}
.view-all a:hover{
        color: #ab5c3b;
}
.event-box h2::after
{
    top: -14px;
}
.home-slider .owl-theme .owl-controls .owl-buttons .owl-prev
{
    position: absolute; 
    left: 10px;
    top: 43%;
    background: url(../images/prev-btn2.png) no-repeat 100% 100%;
    width: 30px;
    height: 30px;
    text-indent: -5000px;
    background-size: 100% 100%;
    z-index: 9999;
}
.home-slider .owl-theme .owl-controls .owl-buttons .owl-next
{
    position: absolute;
    right: 10px;
    top: 43%;
    background: url(../images/next-btn-2.png) no-repeat 100% 100%;background-size: 100% 100%;
    width: 30px;
    height: 30px;
    text-indent: -5000px;z-index: 9999;
}
.home-slider .owl-controls
{
    position: static;
}
.home-slider .owl-pagination
{
    display: none;
}
.four-column-section
{
    position: relative;
    padding-bottom: 90px;
}
.four-column-section .owl-pagination
{
    display: none;
}
.four-column-section .owl-theme .owl-controls .owl-buttons .owl-prev
{
    position: absolute; 
    left: -30px;
    top: 47%;
    background: url(../images/prev-btn.png) no-repeat;
    width: 40px;
    height: 40px;
    text-indent: -5000px;
}
.four-column-section .owl-theme .owl-controls .owl-buttons .owl-next
{
    position: absolute;
    right: -30px;
    top: 47%;
    background: url(../images/next-btn.png) no-repeat;
    width: 40px;
    height: 40px;
    text-indent: -5000px;
}
.four-column-section .service-col
{
    margin: 0 auto;
    margin-top: 60px;
    float: none;
}
.topsection-scroll
{
   top: 600px; 
}
.about-scroll,.upcoming-scroll,.four-column-scroll,.statenews-scroll {
    top: 480px;
}
.upcoming-scroll
    {
       top: 548px; 
    }
.about-scroll
{
   top: 535px;  
}
.statenews-scroll
{
   top: 514px; 
}
.box-btmbg
{
    padding-bottom: 115px;    min-height: 313px;
}
#back-top a
{
    background-color: #26c7b8;
}
#hidden-aside-menu
{
    z-index: 999999;
}
@media only screen and (max-width:1400px)
{
    .about-lft figure {
    position: relative;
    width: 500px;
    height: 279px;
}
    .about-lft figure img {
    height: 279px;
    width: 100%;
}
    .about-lft figure:after {
   
    width: 500px;
    height: 279px;
   
    background: url(../images/aboutimg-bg.png) no-repeat;
        background-size:100% 100%;
}
    .box-btmbg h2
    {
            font: bold 20px/28px 'Raleway', sans-serif;    min-height: 113px;
    }
    .box-btmbg figure img {
    margin-top: -68px;
    max-height: 55px;
}
   .topsection-scroll
    {
        top: 540px;
    }
   .four-column-scroll {
    top: 422px;
}
    .statenews-scroll
    {
     top: 460px;   
    }
     .upcoming-scroll
    {
       top: 485px; 
    }
    .about-scroll
    {
      top: 468px;  
    }
    .event-box {
    padding: 0 35px 60px 35px;
    }
}

@media only screen and (max-width:1260px)
{
    
    .state-news .newsbox-cont
    {
        width: 100%;
    }
    .four-column-section .owl-theme .owl-controls .owl-buttons .owl-prev
    {
            left: 0px;
    }
    .four-column-section .owl-theme .owl-controls .owl-buttons .owl-next
    {
            right: 0px;
    }
}

@media only screen and (max-width:1200px)
{
    .top-section
    {
        padding: 0 60px;
    }
    .service-col
    {
        width: 96%;
        margin:60px 2% 0 2%;
    }
    .topsection-scroll, .about-scroll, .upcoming-scroll
    {
            top: 300px;
    }
    h1.main-hdg
    {
        margin: 24px 0 0 0;font: bold 32px/46px 'Raleway', sans-serif;
    }
    .aboutus-txt h1.main-hdg
    {
        margin-bottom: 25px;
    }
    .about-lft figure,.about-lft figure img {
    width: 100%;
    height: 200px;
}
    .about-lft figure::after {
    width: 100%;
    height: 200px;
    }
    .about-scroll,.upcoming-scroll,.four-column-scroll,.statenews-scroll,.topsection-scroll
    {
          display: none;
    } 
}
@media only screen and (max-width:1025px)
{
    .home-slider .owl-item,.home-slider .item,.home-slider .item img {
    height: auto!important;
}
}
@media only screen and (max-width:1023px)
{
   
    .event-box figure img
    {
        width: 60px;
    }
    .top-section {
    padding: 0 25px;
}
    .logo img {
    width: auto;
}
    .logo a small
    {
        margin: 20px 0 0;
padding: 0 1px;
font: 700 11px/17px 'Raleway', sans-serif;
    }
     
  .event-three-col {
    padding-top: 75px;
}
    .event-box h2
    {
        font: 700 15px/25px 'Raleway', sans-serif;
    }
    .event-btm-bg {
    padding-bottom: 61px;
}
}
@media only screen and (max-width:767px)
{
    .event-three-col {
    padding-top: 23px!important; 
        
}
    .event-btm-bg {
    padding-bottom: 23px;
}
}




.home-slider .owl-item,.home-slider .item,.home-slider .item img {
    height: 100vh;
}
.know-more a
{
    margin-top: 20px;
}
.innerheader
{
    background: url(../images/innerheaderbg.png) no-repeat bottom;
    background-size: 100%;    min-height: 100px;
}
.page-title {
    padding-top: 100px;
}
.page-title img
{
        margin-top: 50px;
}
.gal-box
{
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 20px;
}
.gallery-cont .gal-box:nth-child(3n)
{
    margin-right: 0;
}
.gallery-cont .gal-box .gal-img-box
{
        position: relative;
    width: 100%;
    height: 279px;    float: left;
    overflow: hidden;
    text-align: center;

}
.gallery-cont .gal-box .gal-img-box:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 279px;
    content: '';
    background: url(../images/aboutimg-bg.png) no-repeat;
    background-size: 100% 100%;
}
.gallery-cont .gal-box  img {
    height: 279px;
    width: auto;
    max-width: inherit!important;
    transition:all .5s ease-in-out;
}
.gallery-cont .gal-box .gal-title
{
     color: #373737;
    font: bold 19px/29px 'Raleway', sans-serif;
    margin-top: 7px;
    width: 100%;
    text-align: center;
    clear: both;
    float: left;
    margin-bottom: 20px;
}
.gallery-cont .gal-box a:hover img
{
    transform: scale(1.1);
}
.gallery-cont .gal-box a:hover .gal-title
{
    color: #26c7b8;
}


/* pictures_eyes style */

.picshade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.91;
  filter: alpha(opacity=91);
  z-index: 99;
  display: none;
}

.pictures_eyes_close {
  position: fixed;
  top: 30px;
  right: 30px;
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url(../images/close.png) no-repeat;
  z-index: 100;
  display: none;
}

.pictures_eyes {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 199;
  display: none;
}

.pictures_eyes_in {
  position: relative;
  text-align: center;
}

.pictures_eyes_in img { max-height: 500px; }

.pictures_eyes_in .prev, .pictures_eyes_in .next {
  position: absolute;
  top: 50%;
  width: 51px;
  height: 51px;
  cursor: pointer;
}

.pictures_eyes_in .prev {
  left: 35px;
  background: url(../images/Tleft.png) no-repeat;
}

.pictures_eyes_in .next {
  right: 35px;
  background: url(../images/Tright.png) no-repeat;
}

.pictures_eyes_indicators {
  position: fixed;
  left: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
  z-index: 299;
}

.pictures_eyes_indicators a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 6px 3px 0 3px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 2px #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
  overflow: hidden;
}

.pictures_eyes_indicators img { height: 50px; }

.pictures_eyes_indicators .current {
  filter: alpha(opacity=100);
  opacity: 1;
}

ul.demo li {
    float: left;
    width: 32%;
    margin-right: 2%;
    position: relative;    margin-bottom: 53px;
    cursor: pointer;
}
ul.demo li:nth-child(3n)
{
    margin-right: 0;
}
ul.demo li div
{
        position: relative;
    width: 100%;
    height: 279px;    float: left;
    overflow: hidden;
    text-align: center;

}
ul.demo li:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 279px;
    content: '';
    background: url(../images/aboutimg-bg.png) no-repeat;
    background-size: 100% 100%;
}
ul.demo li  img {
    height: 279px;
    min-width: 100%;
    max-width: inherit!important;
    transition:all .5s ease-in-out;
}
ul.demo li:hover img
{
    transform: scale(1.1);
}
.gallery-page,.gallery-page .inner-content
{
        background: #fefeef;
}
@media only screen and (max-width:1500px)
{
    .gallery-cont .gal-box .gal-img-box,ul.demo li div
    {
        height: 240px;
    }
    .gallery-cont .gal-box img,ul.demo li  img {
    height: 240px;
    }
    .gallery-cont .gal-box .gal-img-box:after,ul.demo li:after
    {
        height: 240px;
    }
}

@media only screen and (max-width:1025px)
{
    .gallery-cont .gal-box .gal-img-box,ul.demo li div
    {
        height: 180px;
    }
    .gallery-cont .gal-box img,ul.demo li  img {
    height: 180px;
    }
    .gallery-cont .gal-box .gal-img-box:after,ul.demo li:after
    {
        height: 180px;
    }
    .innerheader
{
    background-size: 100% 100%;    min-height: 100px;
}
    .page-title {
    padding-top: 8px;
}
}

@media only screen and (max-width:767px)
{
    .gal-box,ul.demo li
    {
        width: 100%;
        margin-right: 0;
    }
}

.gigw-tool .color-selector-wrapper a {
    background-color: #222222;    
}
.gigw-tool .color-selector-wrapper a:nth-child(2n) {
    background-color: #a0140c;
}
.gigw-tool .color-selector-wrapper a:nth-child(3) {
    background-color: #13a2e4;
}
