.heroSliderWrap .owl-next:before,
.heroSliderWrap .owl-prev:before {
    font-family: FontAwesome;
    line-height: 29px;
    float: left;
    height: 29px;
    text-align: center;
    -webkit-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    color: #fff
}

.scroll-button a:hover {
    background: #A0140C;
    color: #fff
}

.heroSliderWrap {
    width: 100%;
    float: left;
    position: relative
}

.heroSliderWrap .owl-prev {
    position: absolute;
    top: 100px;
    text-indent: -99999px;
    right: 60px
}

.heroSliderWrap .owl-prev:before {
    font-size: 14px;
    text-indent: initial;
    content: "\f104";
    width: 29px;
    background: #13a2e4;
    -moz-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px
}

.heroSliderWrap .owl-next:before,
.news-events .owl-prev:before {
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px
}

.heroSliderWrap .owl-prev:hover:before {
    background: #A0140C
}

.heroSliderWrap .owl-next {
    position: absolute;
    top: 100px;
    text-indent: -99999px;
    right: 25px
}

.heroSliderWrap .owl-next:before {
    font-size: 14px;
    text-indent: initial;
    content: "\f105";
    width: 29px;
    background: #13a2e4;
    -moz-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.heroSlider,
.slide-img {
    width: 100%;
    position: relative;
    float: left
}

.news-events .owl-prev:before,
.news-events ul.newseventsList li a {
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease
}

.heroSliderWrap .owl-next:hover:before {
    background: #A0140C
}

.heroSlider {
    z-index: 2
}

.slide-img {
    z-index: 1
}

.slide-img:after,
.slider-content {
    position: absolute;
    left: 0;
    width: 100%
}

.slide-img img {
    width: 100%;
    float: left
}

.slide-img:after {
    top: 0;
    height: 100%;
    content: ''
}

.slider-content {
    bottom: 0;
    z-index: 2;
    padding: 0 0 50px;
    color: #fff
}
